
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

html{
  cursor: url(../images/images_home/puntero1.png), 
  auto;
}
span,a:hover{
  cursor: url(../images/images_home/cursor-de-mano.png), 
  auto;
}
input:hover{
  cursor: url(../images/images_home/escribe.png), 
  auto;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}
html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #150628;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
	color: #CCC;
  text-decoration: none !important;
}
a:hover {
	color: rgb(8, 247, 24);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

body .page-content {
  margin-top: 110px;
 /*   background-color: #1b1726; */
  padding: 60px;
  border-radius: 23px;
}
body{
  background: linear-gradient(to bottom,transparent 10%, #150628, #08070c );




}
p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #10f11f;
  color: #fff;
}

::-moz-selection {
  background: #10f11f;
  color: #fff;
}

.templatemo-item {
	max-width: 80px; 
	border-radius: 23px;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #4c106e;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #470653;
}

.main-border-button a {
  font-size: 14px;
  color: #8e0af3;
  background-color: transparent;
  border: 1px solid #bbffc9;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.main-border-button a:hover {
  border-color: #fff;
  background-color: #fff;
  color: #e75e8d;
}

.border-no-active a {
  border-color: #666;
  color: #666;
}

.border-no-active a:hover{
  border-color: #666;
  color: #666;
  background-color: transparent;
}

section {
  margin-top: 120px;
}



/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/
.contenido{
margin-left: 56px;
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#1c0635;

  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* carga */

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: rgb(180, 6, 180);
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: rgb(100, 4, 100);
  }

  50% {
    background: rgb(3, 12, 174);
  }

  100% {
    background: rgb(223, 9, 223);
  }
}
/* 
---------------------------------------------
Most Popular Style
--------------------------------------------- 
*/
/* busqueda */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: absolute;
  max-width: 490px;
  margin-left: 81%;
  margin-top: -6%;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
 
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* busqueda end */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 55px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #1e093a;
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(50, 22, 59, 0.861);
  box-shadow: 0px 0px 19px black ;
  transition: width 0.3s ease;
}
.sidebar:hover {
  width: 260px;
  z-index: 5;
}
.sidebar .logo {
  color: white;
  display: flex;
  align-items: center;
  padding: 25px 10px 10px;
}
.logo img {
  width: 43px;
  border-radius: 50%;
}
.logo h2 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 15px;
  display: none;
}
.sidebar:hover .logo h2 {
  display: block;
}
.sidebar .links {

  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
  display: none;
}
.links li {
  margin-left: 13px;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.links li:hover {
  cursor: pointer;
  background: #fff;
}
.links h4 {
  color: white;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
}
.sidebar.links h4 {
  display: block;
}
.links hr {
  margin: 10px 28px;
  border: 1px solid #1e1e1e;
}
.slider li span {
  padding: 12px 10px;
}
.material-symbols-outlined{
  color: white;
  margin-bottom: 9px;
  font-weight: 100;
}
.links li a {
  padding: 10px;
  color: white;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar:hover .links li a {
  display: block;
  
}
.links a:hover {
  color: rgb(9, 9, 9);
}
.links .logout_link {
  margin-top: 20px;
}
.btn_log{
  color: white;
border: none;
  text-decoration: none;
  background-color: transparent;

}
.btn_log:hover{
  color: black;
}

/* slide bar  */

/* title */
.section_title{
  position: absolute;
  margin-left: 56px;
  border: 2px red;
  z-index: 100;
  background-color: #10f11f;
  margin-top: 20%;
  width: 100%;
}
.content_title{
position: relative;
  display: block;
  width: 900px;
  height: 200px;
 margin: auto;
 overflow: hidden;

}


/* animacion */
.loader {
  margin: auto;
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 284px;
  animation: typewriter 2s steps(7)  infinite alternate , blink 0.5s steps(10) infinite;
}

.loader-text {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(to right,#85bb8c, #ac79ac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 300px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255,255,255,.75);
    ;
  }

  100% {
    border-right-color: transparent;
  }
}

/*  title end*/


/* nav_ filtro */
.navigation-card a span{
  color: white;
}
.navigation-card {
  border: solid 1px black;
  box-shadow: 0px 0px 10px black;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  background-color: rgba(82, 9, 88, 0.575);
  padding: 15px 20px;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 2%;
}
.navigation-card:hover{
  scale: 102%;
  background-color: #470653;
} 
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: rgb(64, 7, 85);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.tab span:hover{
  scale: 108%;
  box-shadow: 0px 0px 35px rgb(12, 1, 12);
}

.tab:hover h6{
  background-color: rgb(31, 2, 50);
  display: block;
}


/* cards */
.most-popular {
  border: solid 1px black;
  box-shadow: 0px 0px 10px black;
  margin-top: 30px;
  padding: 30px;
  background-color: #14111c;
  border-radius: 13px;
}

.most-popular .item {
  border: solid 1px black;
  box-shadow: 0px 0px 10px black;
  background-color: #321043bc;
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 30px;
  border-radius: 23px;
  margin-bottom: 30px;
  border: solid .5px #100120c3;
}
.most-popular .item:hover{
  scale: 103%;
  cursor: url(../images/images_home/seleccion.png), auto;
  box-shadow: 0px 0px 14px rgba(245, 222, 179, 0.16);
} 

.most-popular .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}


.most-popular .item img {
  display: flex;
  top: 0; 
  border-radius: 13px;
  max-height: 250px;
}

.most-popular .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.most-popular .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.most-popular .item li span{
  display: inline-block;
  color: #bbb;
  padding-left: 5px;
}

.most-popular .item ul {
  float: right;
  margin-top: 20px;
}

.most-popular .item ul li {
  text-align: right;
  color: #fff;
  font-size: 14px;
}

.most-popular .item ul li:first-child i {
  color: yellow;
}

.most-popular .item ul li:last-child i {
  color: #ec6090;
}

.most-popular .main-button {
  text-align: center;
  margin-bottom: -53px;
}



